.main {
    background-color: black;

}
.img {
    margin-left: 10%;
}

.modal {
    background-color: #F7F5F4;
    color: black;
    width: 25%;
    height: 25%;
    margin-left: 500px;
}

.text {
    text-align: center;
}